.container {
  width: 100%;
  height: 80px;
  border-bottom: 2px dashed #000;
  position: fixed;
  background: #fff;
}

.tab_container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.tab_red {
  background: red;
}
.tab_orange {
  background: orange;
}
.tab_yellow {
  background: yellow;
}
.tab_green {
  background: green;
  color: #fff;
}
.tab_blue {
  background: blue;
  color: #fff;
}
.tab_navy {
  background: navy;
  color: #fff;
}
.tab_purple {
  background: purple;
  color: #fff;
}
